---
layout: default
---
  
<div class="home">

  <h1 class="page-heading"> <font color="#E76354">文章</font>
  </h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <div class="panel">
      <div class="panel-content">
        <li>
          <p>
            <h2 align="center">
              <a href="{{ post.url }}"> <font color="#E76354">{{ post.title }}</font>
              </a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </p>
          <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
          <p>
            <a href="{{ post.url }}"><font color="#E76354">Read more ...</font></a>
          </p>
        </li>
      </div>
    </div>
    {% endfor %}
  </ul>

</div>

<!--<p class="rss-subscribe">
subscribe
<a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
</p>
-->
<!-- {% for category in site.categories %}
    <h2>{{ category | first }}</h2>
</span>
{{ category | last | size }}
</span>
<ul class="arc-list">
{% for post in category.last %}
<li>
{{ post.date | date:"%d/%m/%Y"}}
<a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
{% endfor %} -->